/* Zero header section */
.zero_header {
  background-color: hsl(235.91deg 59.46% 14.51%);
  padding: 1em 0;
}
i {
  cursor: pointer;
}
.zeroheader_div1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}
.zeroheader_div_item p {
  margin-bottom: 0em;
  color: white;
}
.zeroheader_div_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
}
.zeroheader_div_icon {
  border-radius: 100%;
  width: 2em;
  height: 2em;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
}
.zeroheader_div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 0.2em;
}
.zeroheader_div2_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
}
.zeroheader_btn1 {
  border: 1px solid hsl(235.91deg 59.46% 14.51%);
  color: white;
  border-radius: 0.8em;
  margin-left: 1em;
}
.zeroheader_btn1:hover {
  color: hsl(235.91deg 59.46% 14.51%);
  background-color: white;
}
.zeroheader_btn2 {
  border-radius: 0.8em;
  background-color: white;
  color: hsl(235.91deg 59.46% 14.51%);
  border: 2px solid hsl(235.91deg 59.46% 14.51%);
}
.zeroheader_btn2:hover {
  border: 2px solid white;
  color: white;
  background-color: hsl(235.91deg 59.46% 14.51%);
}

/* Zero header section */

/* navbar section */
.nav_logo {
  object-fit: cover;
  width: 10em;
  height: 3em;
}
.navbar_nav {
  padding: 1em 0;
}
.navbar_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* navbar section */

/* home section */

.owl-nav button.owl-prev {
  left: 0.2em;
}
.owl-nav button.owl-next {
  right: 0.2em;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 35px;
  height: 5px;
  border-radius: 10%;
  display: inline-block;
  background: transparent;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  /* background-color: #fff; */
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important;
}

.owl-nav button:focus {
  outline: none;
}
.owl-carousel .owl-nav button.owl-next {
  font-size: 3em;
}
.owl-carousel .owl-nav button.owl-prev {
  font-size: 3em;
}
.home_slider_img {
  object-fit: cover;
  width: 50em;
  height: 28em;
}
.home_div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home_p {
  color: hsl(196, 11%, 65%);
  font-size: 1.1em;
}

.home_div2_nav {
  background-color: hsl(208deg 100% 97.06%);
}
.home_div2_a {
  color: #000;
  font-weight: 550;
}
.home_div2_a :hover {
  text-decoration: none;
}
.home_div2_ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.home_btn_group {
  margin: 2em 0;
}
.home_btn {
  border-radius: 1.4em;
}

/* home section */
/* Appointment  section */
.Appointment_card {
  background-color: #000;
  width: 27em;
  height: 25em;
}
.Appointment_div1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.6em;
}
.Appointment_inputs {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em 0;
}
.Appointment_div1 i {
  font-size: 2em;
  color: #007bff;
}
.Appointment_container {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 2em 0;
  padding: 2em;
}
.Appointment_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.Appointment_btn button {
  border-radius: 2em;
}
/* Appointment  section */
/* card section */
.card_section {
  margin: 4em 0;
  margin-bottom: 8em;
}
.card_div {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.6em;
}

.card_p {
  color: hsl(196, 11%, 65%);
  font-size: 1em;
}
.Card_icon {
  background-color: hsl(186.9deg 100% 77.84%);
  color: #000;
  width: 2em;
  font-size: 2em;
  height: 2em;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.6em 0;
}

/* card section */
/* services section */
.services_section {
  padding: 5em 0;
  background-color: hsl(208deg 100% 97.06%);
}
.services_icon {
  background-color: hsl(195deg 100% 92.94%);
  color: hsl(200.64deg 92.9% 66.86%);
  border: 2px solid hsl(200.64deg 92.9% 66.86%);
  width: 2.4em;
  font-size: 1.6em;
  height: 2.4em;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.6em 0;
}
.service_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.2em;
}
.service_readmore i {
  font-size: 0.7em;
}
.service_readmore {
  color: hsl(200.64deg 92.9% 66.86%);
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.4em;
}
.service_zero_heading {
  color: hsl(200.64deg 92.9% 66.86%);
}
/* services section */
/* Step1 section */
.step1_heading {
  font-weight: 550;
  color: #007bff;
  font-size: 1.2em;
}
.step1_div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.step1_img {
  object-fit: cover;
  height: 21em;
  width: 21em;
  border-radius: 100%;
}
.step1_div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Step1 section */
/* Step2 section */
.step2_section {
  background-color: hsl(235.91deg 59.46% 14.51%);
}
.step2_row {
  padding: 3em 0;
}
.step2_div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step2_heading {
  color: #007bff;
  font-size: 1.2em;
  font-weight: 550;
}
.step2_div2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.step2_img {
  object-fit: cover;
  height: 21em;
  width: 21em;
  border-radius: 100%;
}
.step4_img {
  object-fit: cover;
  height: 21em;
  width: 21em;
}
/* Step2 section */
/* Images Cards section */
.Images_cards {
  text-align: center;
  padding: 2em;
  padding-top: 4em;
  background-color: hsl(0deg 4.76% 95.88%);
}
.Images_icon {
  width: 2em;
  height: 2em;
  font-size: 1.6em;
  border-radius: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: -1em;
  right: 10em;
  margin: auto;
  justify-content: center;
  background-color: #fff;
  color: hsl(201.91deg 100% 54.9%);
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.15);
}
.service_div1 {
  margin: 4em 0;
}

/* Images Cards section */
/* Small cards section */
.small_card i {
  font-size: 4em;
}
.small_card {
  color: hsl(184.94deg 100% 50%);
  text-align: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.15);
  padding: 2em 0;
}
.small_card_container {
  width: 13em;
}
/* Small cards section */
/* Date crad section */

.Date_card_img1 {
  background: url("images/1 (1).jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 22em;
  height: 16em;
  position: relative;
}
.Date_card_img1:before {
  position: absolute;
  background: #0000008c;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  content: " ";
}
.Date_card_img2 {
  background: url("images/3.jpg");
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  width: 22em;
  height: 16em;
}
.Date_card_img2:before {
  position: absolute;
  background: #0000008c;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  content: " ";
}
.Date_card_img3 {
  position: relative;
  background: url("images/8.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 22em;
  height: 16em;
}
.Date_card_img3:before {
  position: absolute;
  background: #0000008c;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  content: " ";
}
/* Date crad section */
